@* ESL9.Mvc/Views/Shared/Components/LogTypeSelector/Default.cshtml *@
@model List<LogTypeSelectViewModel>

<div class="LogType-selector">
    <select id="logTypeDropdown" name="selectedLogType" class="form-select">
        @foreach (var logType in Model)
        {
            <option value="@logType.LogTypeNo @(logType.IsSelected ? "selected" : "")">
                @logType.LogTypeName
            </option>
        }
    </select>
</div>

<input type="hidden" id="selectedLogType" name="selectedLogTypeNo" value="@Model.FirstOrDefault(l => l.IsSelected)?.LogTypeNo" />
