@{
    ViewData["Title"] = "Check In";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>This is a partial view for checking in as a registered operator.  A user, who must be an operator, must identify his/her session as an Day or Night shift Primary or Secondary operator for a selected plant (with plant from session cookie as a default option).</p>
<blockquote>