@{
    ViewData["Title"] = "Select a Plant";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>This is a partial view for selecting a plant.  A user, who may or may NOT be an operator, can select a plant with plant from session cookie as a default option.</p>
<blockquote>
    @* <div class="form-group">
    <label asp-for="PlantId">Select a Plant</label>
    <select asp-for="PlantId" class="form-control" asp-items="Model.Plants">
        <option value="">-- Select a Plant --</option>
    </select>
    </div> *@
</blockquote>